@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body { 
  color: #0C74DB; 
  background-color: #333; 
  font-family: 'Josefin Sans', sans-serif; 
  line-height: 1.4;
}

.editor-mce {
  width: 50%;
  margin: auto;
  margin-top: 10px;
}

@media screen and (max-width: 800px) {
  .editor-mce {
    width: 95%;
    
  }
}